block content
  if articles.length > 0
      table.table.table-info
        tr
          th Articles
        for article in articles
          tr
            td
                a(href=`/articles/${article.name}`, class=button)= article.name
            td
                form(action=`/articles/${article.name}?_method=DELETE` method='POST')
                    button Delete
                a(href=`/articles/${article.name}/edit/`, class=button) Edit
  else
      | There is no any articles...
